{% extends 'users/layout.html' %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h1>Log in</h1>
    <form action="{% url 'login' %}" method="post"> <!-- form é um input que vai pro servidor -->
            <!-- lugar para onde a info vai / post é segurança, tipo shttp-->
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form> <!-- o form é só para passar a infor pro servidor
    já o input é para pegar, o submit é um botão -->
{% endblock %}